{% extends 'base_generic.html' %}


{% block content %}
{% if user.is_authenticated %}

{% else %}
<a href="{% url 'login' %}"><img src="https://dabuttonfactory.com/button.png?t=Login&f=Zenhei&ts=50&tc=fff&tshs=1&tshc=000&hp=20&vp=8&c=5&bgt=gradient&bgc=3d85c6&ebgc=073763"></img></a>
<a href="{% url 'signup' %}"><img src="https://dabuttonfactory.com/button.png?t=Register&f=Calibri-Bold-Italic&ts=50&tc=fff&tshs=1&tshc=000&hp=20&vp=8&c=5&bgt=gradient&bgc=3d85c6&ebgc=073763"></img></a>
{% endif %}
{% endblock %}
